
html, body {
    padding: 0px;
    margin: 0px;
}

#container {
    background: radial-gradient(#aeaeb0, #09542c);
    font-family: 'Abel', sans-serif;
    color: white;
    text-shadow:
       /*3px 3px 0 #000,*/
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#logo {
    display: flex;
    width: 140px;
    padding-top: 30px;
    margin: 0 auto;

}
.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

h2 {
    display: flex;
    justify-content: center;
}

p {
    display:flex;
    justify-content: center;
    margin:0 auto;
    padding: 10px;
    width: 75%;
    text-align: justify;

}

#middle {
    margin: 0 auto;
    padding-left: 2%;

}

#project1  {
    padding: 10px;
    width: 95%;
}

#project2 {
    padding: 10px;
    width: 95%;
}

#project3 {
    padding: 10px;
    width: 95%;
}

#project4 {
    padding: 10px;
    width: 95%;
}

.icons {
    display: flex;
    justify-content: center;
    flex-direction:row;
    font-size: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}



#icon1, #icon2, #icon3 {
    width: 30px;
    padding:5px;

}
#icon1:hover, #icon2:hover, #icon3:hover {
    width: 35px;
    padding: 3px;

}




