
html, body {
    padding: 0px;
    margin: 0px;
}

#container {
    background: radial-gradient(#aeaeb0, #09542c);
    font-family: 'Abel', sans-serif;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    flex-direction: row;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
}

h2 {
    display: flex;
    justify-content: center;
}

p {
    padding: 10px;
    width: 75%;

    text-align: justify;
}

/*#projects {
    padding-top: 20px;
    display: flex;
    flex-direction:row-reverse;
    font-size: 30px;
    width:300px;
    align-items: center;

}*/

#project1  {
    padding: 10px;
    width: 95%;
}

#project2 {
    padding: 10px;
    width: 95%;
}

#project3 {
    padding: 10px;
    width: 95%;
}

#project4 {
    padding: 10px;
    width: 95%;
}



.icon {
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: 10px;
    min-width: 25px;
    min-height: 25px;
    font-size: 40px;
    align-items: flex-end;
    padding-bottom: 40px;
}
#icon1, #icon2, #icon3 {


    width:75px;
    padding: 10px;

}

#web {
   display:flex;
   justify-content:center;
   padding:10px;
   font-size: 25px;
}
#logo {
    display:flex;
    align-self:center;
    height:150px;
    padding-top: 40px;
}



