html,
body {
    padding: 0px;
    margin: 0px;
}

#container {
    background: radial-gradient(#aeaeb0, #09542c);
    font-family: 'Abel', sans-serif;
    color: white;
    text-shadow: /*3px 3px 0 #000,*/
    -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#toolbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #09542c;
    justify-content: flex-end;
    padding: 0px;
    margin: 0px auto;
}

#about,
#projects,
#contact {
    padding: 7px;
}

#about: link,
#projects: link,
#contact: link {
    color: inherit;
}

#bar {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 0px;
    margin: 0px auto;

}
#minilogo {
    width: 20px;
    padding-left: 7px;
}

#logo {
    width: 140px;
    padding-top: 30px;
    margin: 0px auto;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

h2, h3 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 10px 55px 10px;
    width: 75%;
    text-align: justify;
}

#photo {
    width: 160px;
    height: 200px;
}

#bio {
    display: flex;
    flex-direction: row;
    margin: 3%;
}

#middle {
    margin: 0 auto;
    padding-left: 2%;
}

.project {
    padding: 10px;
    width: 95%;
}

#icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}

#icon1,
#icon2,
#icon3 {
    width: 30px;
    padding: 5px;
}

#icon1:hover,
#icon2:hover,
#icon3:hover {
    width: 35px;
    padding: 3px;
}
